SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_CLIENT_ID=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_MESSAGING_SERVICE_SID=
WEB_PUSH_VAPID_PUBLIC_KEY=
WEB_PUSH_VAPID_PRIVATE_KEY=
WEB_PUSH_SUBJECT=mailto:karmel.larson@gmail.com
TEAMWORK_CHORES_SITE_URL=https://teamworkchores.com
KARMEL_NOON_REVIEW_PHONE=8014279293
BRIGHAM_EXTENSION_PHONE=8018300011
